AirNavigationRaceLive/GELive/Service References/ANRLDataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOft_Daten">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_Daten" nillable="true" type="tns:t_Daten" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_Daten" nillable="true" type="tns:ArrayOft_Daten" />
  <xs:complexType name="t_Daten">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Polygon" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Tracker" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Penalty" type="xs:int" />
      <xs:element minOccurs="0" name="Speed" type="xs:decimal" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="t_Daten" nillable="true" type="tns:t_Daten" />
  <xs:complexType name="ArrayOft_PolygonPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_PolygonPoint" nillable="true" type="tns:t_PolygonPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_PolygonPoint" nillable="true" type="tns:ArrayOft_PolygonPoint" />
  <xs:complexType name="t_PolygonPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Polygon" type="xs:int" />
      <xs:element minOccurs="0" name="altitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="t_PolygonPoint" nillable="true" type="tns:t_PolygonPoint" />
</xs:schema>