AirNavigationRaceLive/GELive/Service References/anrlWebService/ANRLDataService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOft_Daten">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_Daten" nillable="true" type="tns:t_Daten" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_Daten" nillable="true" type="tns:ArrayOft_Daten" />
  <xs:complexType name="t_Daten">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Flugzeug" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Polygon" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Penalty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="XEnd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="XStart" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YEnd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YStart" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ZEnd" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ZStart" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="t_Flugzeug" nillable="true" type="tns:t_Flugzeug" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="t_Daten" nillable="true" type="tns:t_Daten" />
  <xs:complexType name="t_Flugzeug">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flugzeug" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_GPS_Tracker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pilot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_Datens" nillable="true" type="tns:ArrayOft_Daten" />
      <xs:element minOccurs="0" name="t_Tracker" nillable="true" type="tns:t_Tracker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="t_Flugzeug" nillable="true" type="tns:t_Flugzeug" />
  <xs:complexType name="t_Tracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_Flugzeugs" nillable="true" type="tns:ArrayOft_Flugzeug" />
      <xs:element minOccurs="0" name="t_GPS_IN" nillable="true" type="tns:t_GPS_IN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="t_Tracker" nillable="true" type="tns:t_Tracker" />
  <xs:complexType name="ArrayOft_Flugzeug">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_Flugzeug" nillable="true" type="tns:t_Flugzeug" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_Flugzeug" nillable="true" type="tns:ArrayOft_Flugzeug" />
  <xs:complexType name="t_GPS_IN">
    <xs:sequence>
      <xs:element minOccurs="0" name="GPS_fix" type="xs:int" />
      <xs:element minOccurs="0" name="HDOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Processed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimestampTracker" type="xs:dateTime" />
      <xs:element minOccurs="0" name="altitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nr_used_sat" type="xs:int" />
      <xs:element minOccurs="0" name="speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_Trackers" nillable="true" type="tns:ArrayOft_Tracker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="t_GPS_IN" nillable="true" type="tns:t_GPS_IN" />
  <xs:complexType name="ArrayOft_Tracker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="t_Tracker" nillable="true" type="tns:t_Tracker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOft_Tracker" nillable="true" type="tns:ArrayOft_Tracker" />
</xs:schema>