AirNavigationRaceLive/GELive/Service References/anrlWebService/ANRLDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1325/ANRLDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataService" />
  <xs:element name="GetPathData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetPathDataResult" nillable="true" type="q1:t_Daten" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>